<ul class="right hide-on-med-and-down">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Home.About())">What's news</a></li>
        <li><a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Home.About())">Support</a></li>
        <li><a class="black-text brown-hover hover-animation" href="@Url.Action(MVC.Account.Login())">About</a></li>
        <li><a class="black-text gold-hover hover-animation" href="@Url.Action(MVC.Account.Register())">Register</a></li>
        <li><a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Account.Login())">Log in</a></li>
    </ul>
</ul>
<!-- for mobile-->
<ul id="nav-mobile" class="side-nav">
    <li><a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Home.About())">What's news</a></li>
    <li><a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Home.About())">Support</a></li>
    <li><a class="black-text brown-hover hover-animation" href="@Url.Action(MVC.Account.Login())">About</a></li>
    <li><a class="black-text gold-hover hover-animation" href="@Url.Action(MVC.Account.Register())">Register</a></li>
    <li><a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Account.Login())">Log in</a></li>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
