@using Microsoft.AspNet.Identity

<ul class="right hide-on-med-and-down">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Issues.Index())">My issues</a>
        </li>

        <li>
            <a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Users.Details(User.Identity.GetUserId()))">Settings</a>
        </li>

        <li>
            <a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Account.LogOff())">Logout</a>
        </li>
    </ul>
</ul>

<ul id="nav-mobile" class="side-nav">
    <li>
        <a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Issues.Index())">My issues</a>
    </li>
    <li>
        <a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Users.Details(User.Identity.GetUserId()))">Settings</a>
    </li>
    <li>
        <a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Account.LogOff())">Logout</a>
    </li>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
