@using FenrirProjectManager.Helpers
<ul class="right hide-on-med-and-down">
    <ul class="nav navbar-nav navbar-right">

        <li>
            <a href="@Url.Action(MVC.Issues.Create())" class="black-text">
                <i class="mdi mdi-24px  mdi-note-plus-outline"></i> Add issue
            </a>
        </li>

        <li>
            <a href="@Url.Action(MVC.Projects.Details())" class="black-text">
                <i class="mdi mdi-24px mdi-account-plus"></i> Add member
            </a>
        </li>

        <li>
            <a href="@Url.Action(MVC.Projects.Details())" class="black-text">
                <i class="mdi mdi-24px mdi-wrench"></i> Project settings
            </a>
        </li>

        <li>
            <a href="@Url.Action(MVC.Users.Details())" class="black-text">
                <i class="mdi mdi-24px  mdi-settings"></i> Settings
            </a>
        </li>

        <li>
            <a href="@Url.Action(MVC.Account.LogOff())" class="black-text">
                <i class="mdi mdi-24px  mdi-logout"></i> Logout
            </a>
        </li>
    </ul>
</ul>

<ul id="nav-mobile" class="side-nav">
    <li>
        <a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Home.About())">Add new issue</a>
    </li>

    <li>
        <a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Home.About())">Add new member</a>
    </li>

    <li>
        <a class="black-text gold-hover-hover hover-animation" href="@Url.Action(MVC.Home.About())">Project settings</a>
    </li>

    <li>
        <a class="black-text brown-hover hover-animation" href="@Url.Action(MVC.Home.About())">Settings</a>
    </li>

    <li>
        <a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Account.LogOff())">Logout</a>
    </li>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>