@using Microsoft.Ajax.Utilities
@using Model.Consts
@using Model.Enums
@model Model.Models.User

@{ // you can put the following in a back-end method and pass through ViewBag
    var selectList = Enum.GetValues(typeof(UserRole))
                         .Cast<UserRole>()
                         .Where(e => e != UserRole.Administrator)
                         .Select(e => new SelectListItem
                         {
                             Value = ((int)e).ToString(),
                             Text = e.ToString()
                         });
}

<div class="row center">

    <h1>Create a new user</h1>

    @using (Html.BeginForm("Create", "Users", new {ViewBag.ReturnUrl}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="input-field col l12 m12 s12">
            @Html.DropDownListFor(m => m.UserRole, selectList)
            @Html.LabelFor(m => m.UserRole)
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>

        <div class="input-field col l12 m12 s12">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.LabelFor(m => m.FirstName, new {@class = "black-label"})
            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
        </div>

        <div class="input-field col l12 m12 s12">
            @Html.TextBoxFor(m => m.LastName)
            @Html.LabelFor(m => m.LastName, new {@class = "black-label"})
            @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
        </div>

        <div class="input-field col l12 m12 s12">
            @Html.TextBoxFor(m => m.Email)
            @Html.LabelFor(m => m.Email, new {@class = "black-label"})
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>

        <div class="center row">
            <a class="btn btn-form grey waves-effect waves-light" href="@Url.Action(MVC.Issues.Index())">Cancel</a>
            <button class="btn btn-form blue lighten-1 waves-effect waves-light" type="submit" name="action">Create</button>
        </div>
    }

</div>