@model Model.Models.Project

<h4>Project details</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt>

            @Html.DisplayNameFor(model => model.CreationDate)
            @Html.DisplayFor(model => model.CreationDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
            @Html.DisplayFor(model => model.Status)
        </dt>
    </dl>
</div>
<div class="center row">
    <a class="btn btn-form green waves-effect waves-light" href="@Url.Action(MVC.Projects.Edit())">Edit</a>
</div>
