@model Model.Models.Project

<h4>Project details</h4>

<div class="row">

    <div class="row">
        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="row">

        @Html.DisplayNameFor(model => model.CreationDate)
        @Html.DisplayFor(model => model.CreationDate)
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Status)
        @Html.DisplayFor(model => model.Status)
    </div>

</div>
<div class="right" style="padding: 0 0 10px 10px;">
    <a href="@Url.Action(MVC.Projects.Index())" class="btn btn-form blue lighten-1 waves-effect waves-light">OK</a>
</div>
