@using DataAccessImplementation
@model IEnumerable<Model.Models.Issue>
@{
    UserRepo _userRepo = new UserRepo();
}
@{
    ViewBag.Title = "Index";
}
<table class="striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{
                string userName = _userRepo.GetUserById(item.AssignUserId).Email;
            }
            @Html.Raw(userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
    </tr>
}

</table>
