@using DataAccessImplementation
@using FenrirProjectManager.Helpers
@using Microsoft.AspNet.Identity
@using Model.Consts
@using Model.Enums
@model IEnumerable<Model.Models.Issue>
@{
    UserRepo _userRepo = new UserRepo();
}

@{
    if (Model.Any(m => m != null))
    {
        <table class="striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="center-align">
                    Assigned to

                </th>
                <th class="center-align">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th class="center-align">
                    %
                </th>
                <th class="center-align">
                    @Html.DisplayNameFor(model => model.FinishDate)
                </th>
                <th class="center-align">
                    @Html.Raw("Action")
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action(MVC.Issues.Details(item.Id))" style="text-decoration: none !important; color:black !important;">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td class="center-align">

                        @{
                            var assignedUser = _userRepo.GetUserById(item.AssignUserId);
                        }

                        <img src="data:image/png;base64,@Html.Raw(Convert.ToBase64String(assignedUser.Avatar))"
                             class="rounded responsive-img tooltipped"
                             style="max-height: 50px"
                             data-position="bottom"
                             data-delay="50"
                             data-tooltip="@Html.Raw($"{assignedUser.Email}")"/>
                    </td>
                    <td class="center-align">
                        @{
                            switch (item.Type)
                            {
                                case IssueType.Feature:
                                    <img src="data:image/png;base64, @Html.Raw(Convert.ToBase64String(ImageManager.GetByteArray(Resources.Images.feature)))"
                                         class="responsive-img tooltipped"
                                         style="margin-top: 4px"
                                         data-position="bottom"
                                         data-delay="50"
                                         data-tooltip=@Html.DisplayFor(modelItem => item.Type) />
                                    break;
                                case IssueType.Bug:
                                    <img src="data:image/png;base64, @Html.Raw(Convert.ToBase64String(ImageManager.GetByteArray(Resources.Images.bug)))"
                                         class="responsive-img tooltipped"
                                         style="margin-top: 4px"
                                         data-position="bottom"
                                         data-delay="50"
                                         data-tooltip=@Html.DisplayFor(modelItem => item.Type) />
                                    break;
                                case IssueType.Test:
                                    <img src="data:image/png;base64, @Html.Raw(Convert.ToBase64String(ImageManager.GetByteArray(Resources.Images.test)))"
                                         class="responsive-img tooltipped"
                                         style="margin-top: 4px"
                                         data-position="bottom"
                                         data-delay="50"
                                         data-tooltip=@Html.DisplayFor(modelItem => item.Type) />
                                    break;
                            }
                        }
                    </td>
                    <td class="center-align">

                        @{
                            int progress = (int) item.Progress;
                        }
                        <strong>@Html.Raw($"{progress}%")</strong>
                    </td>
                    <td class="center-align">
                        @{
                            string formatedDate = string.Format("{0:d}", item.FinishDate);
                        }
                        @Html.Raw(formatedDate)
                    </td>

                    <td class="center-align">
                        <a href="@Url.Action(MVC.Issues.Delete(item.Id))">
                            <img src="data:image/png;base64,@Html.Raw(Convert.ToBase64String(ImageManager.GetByteArray(Resources.Images.delete_issue)))"
                                 class="responsive-img tooltipped"
                                 data-position="bottom"
                                 data-delay="50"
                                 data-tooltip="Delete"/>
                        </a>
                    </td>

                </tr>
            }

        </table>
    }
    else
    {
        if (User.IsInRole(Consts.ProjectManagerRole) || User.IsInRole(Consts.AdministratorRole))
        {
            <div class="row center">
                <h5>
                    No issues to show, but don't worry you can <a class="blue-text green-hover hover-animation" href="@Url.Action(MVC.Issues.Create())">add a new issue</a>
                </h5>
            </div>
        }
    }
}
