@using System.Drawing
@using DataAccessImplementation;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenrir - Project Manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="~/css/slider.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <img src="~/Graph/FENRIR_LOGO2.png" style="padding: 10px" width="65" class="responsive-img" />
            @Html.ActionLink("FENRIR PROJECT MANAGER", MVC.Home.Index(), new { @class = "brand-logo", @id = "logo-container" })

            <ul class="right hide-on-med-and-down">
                @{
                    if (Request.IsAuthenticated)
                    {
                        UserRepo _userRepo = new UserRepo();
                        var user = _userRepo.GetAllUsers().FirstOrDefault(u => u.Email == User.Identity.Name);

                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                <a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Home.About())">
                                    <img style="width: 40px;" align="absmiddle" src="data:image/jpeg;base64,@Convert.ToBase64String(user.Avatar)" />
                                    Your account
                                </a>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <li><a class="black-text indigo-hover hover-animation" href="@Url.Action(MVC.Home.About())">What's news</a></li>
                        <li><a class="black-text blue-hover hover-animation" href="@Url.Action(MVC.Home.About())">Support</a></li>
                        <li><a class="black-text brown-hover hover-animation" href="@Url.Action(MVC.Account.Login())">About</a></li>
                        <li><a class="black-text gold-hover hover-animation" href="@Url.Action(MVC.Account.Register())">Register</a></li>
                        <li><a class="black-text green-hover hover-animation" href="@Url.Action(MVC.Account.Login())">Log in</a></li>
                    }
                }
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Pomoc</a></li>
                <li><a href="#">Co to jest?</a></li>
                <li><a href="#">Zaloguj się</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container" style="background: rgba(0, 0, 0, 0.6);">
        <div class="section no-pad-bot">
            <div class="container center ">
                <div class="row">
                    <div class="col l12 s12 m5">
                            @Html.Partial("FeatureSlider")
                        <div class="row center">
                            @Html.ActionLink("Get started", MVC.Account.Register(), new { @class = "btn blue btn-large waves-effect waves-light" })
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="~/Graph/Backgrounds/background3.jpg">
        </div>
    </div>

    <div id="register-section" class="container body-content">
        @RenderBody()
    </div>

    <footer class="center-align">
        <p>&copy; @DateTime.Now.Year - FENRIR SOFTWARE</p>
    </footer>

    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/init.js"></script>


</body>
</html>
