@using DataAccessImplementation;
@using Microsoft.AspNet.Identity
@using Model.Consts;
@using Model.Models

@{
    User currentUser = null;
    Project currentProject = null;
    string userRole = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        ProjectRepo _projectRepo = new ProjectRepo();
        UserRepo _userRepo = new UserRepo();

        Guid userId = Guid.Parse(User.Identity.GetUserId());
        currentUser = _userRepo.GetUserById(userId);
        currentProject = _projectRepo.GetProjectById(currentUser.ProjectId);
    }
 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenrir - Project Manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="~/css/slider.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <img src="~/Graph/FENRIR_LOGO2.png" style="padding: 10px" width="65" class="responsive-img"/>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink(currentProject.Name, MVC.Issues.Index(), new { @class = "brand-logo", @id = "logo-container" })
        }
        else
        {
            @Html.ActionLink("FENRIR PROJECT MANAGER", MVC.Home.Index(), new { @class = "brand-logo", @id = "logo-container" })
        }
        

        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole(Consts.DeveloperRole))
            {
                Html.RenderPartial("Menu/developer_menu");
                userRole = "Developer";
            }
            if (User.IsInRole(Consts.ProjectManagerRole))
            {
                Html.RenderPartial("Menu/projectManager_menu");
                userRole = "Project manager";
            }
            if (User.IsInRole(Consts.ObserverRole))
            {
                Html.RenderPartial("Menu/observer_menu");
                userRole = "Observer";
            }
        }
        else
        {
            Html.RenderPartial("Menu/default_menu");
        }
    </div>
</nav>

    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("PartialForAnonymous");
        <div class="col s12 m12 l12 card-panel" style="padding-left: 5px;">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container body-content">
            <div class="card-panel">
                <div class="row" style="background-color: #c8e6c9; margin-top: 10px;">
                    <div class="center-align" style="width: 45%; padding-top: 5px; height: 20px; background-color: #4caf50"></div>
                </div>
                <div class="row">
                    <div class="col s2 m2 l2">
                        <div class="center-align">
                            <img src="data:image/png;base64,@Html.Raw(Convert.ToBase64String(currentUser.Avatar))" class="border-rounded responsive-img" />
                            <h6> @Html.Raw($"{currentUser.FirstName} {currentUser.LastName}")</h6>
                            @Html.Raw($"({userRole})")
                        </div>
                    </div>
                    <div class="col s10 m10 l10 card-panel" style="padding-left: 5px;">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
            }

<footer class="center-align">
    <p>&copy; @DateTime.Now.Year - FENRIR SOFTWARE</p>
</footer>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/js/materialize.js"></script>
<script src="~/js/init.js"></script>
    <script>
        
              $(document).ready(function() {
                  $('select').material_select();
              });
    </script>
</body>
</html>
